*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: column;
}

.dibujo-ahorcado{
    background-color: green;
}

.palabras{
    background-color: rebeccapurple;
}

.botones{
    background-color: lightblue;
}